<template>
  <main class="container my-4">
    <header class="mb-5 text-center lt-header">
      <h1 class="lt-header__title">Le/Tip</h1>
      <h2 class="lt-header__subtitle">Sistema para cálculo de gojetas.</h2>
    </header>

    <div class="row align-items-center">
    
      <div v-if="!isClickedButton || !isMobile()" class="col-12 col-md-6">
        <section class="lt-card">
          <div class="lt-switch d-flex justify-content-center mb-4">
            <span class="lt-switch__text">EUR</span>
            <div class="form-check form-switch">
              <input
                class="lt-switch__input form-check-input"
                type="checkbox"
                v-model="isUSD"
              />
            </div>
            <span class="lt-switch__text">USD</span>
          </div>

          <div class="lt-input d-flex align-items-end w-75 mx-auto mb-4">
            <label for="account-value" class="me-3">Valor</label>
            <span class="lt-input__prefix mx-3" v-if="isUSD">$</span>
            <span class="lt-input__prefix mx-3" v-else>€</span>
            <input
              id="account-value"
              type="number"
              class="form-control"
              min="0"
              step="0.01"
              v-model="priceToPay"
            />
          </div>

          <RangeComponent
            id="tip"
            labelText="Gorjeta"
            :minNumber="10"
            :maxNumber="20"
            :currentValue="tip"
            :initialValue="tip"
            @input="tip = parseInt($event.target.value)"
            isPercentage
          />

          <RangeComponent
            id="people"
            labelText="Pessoas"
            :minNumber="2"
            :maxNumber="16"
            :currentValue="people"
            :initialValue="people"
            @input="people = parseInt($event.target.value)"
          />
        </section>
      </div>

      <div
        v-if="!isMobile() || isClickedButton"
        class="col-12 col-md-6 text-center"
      >
        <section class="lt-card">
          <div class="mb-3">
            <PriceResultComponent
              title="Conta"
              :value="priceToPay"
              :iconPrefix="isUSD"
            />
          </div>

          <div class="mb-3">
            <PriceResultComponent
              title="Gorjeta"
              :value="getTheTipPrice()"
              :iconPrefix="isUSD"
            />
          </div>

          <div class="mb-3">
            <PriceResultComponent
              title="Total"
              :value="getFullPrice()"
              :iconPrefix="isUSD"
            />
          </div>

          <div class="mb-3">
            <PriceResultComponent
              title="por Pessoa"
              :value="getPricePerPeson()"
              :iconPrefix="isUSD"
            />
          </div>

          <div class="col-12">
            <PriceResultComponent
              title="em R$"
              :value="fullPriceInBRL"
              isRealMoney
            />
          </div>
        </section>
      </div>
    </div>

    <div v-if="isMobile()" class="col-12 d-flex justify-content-end mt-4">
      <button class="lt-button btn btn-primary" @click="toggleButton()">
        <svg
          id="lt-icon-button"
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          fill="#FFFFFF"
          class="bi bi-arrow-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
          />
        </svg>
      </button>
    </div>
  </main>
</template>

<script>
import RangeComponent from "../components/RangeComponent.vue";
import PriceResultComponent from "../components/PriceResultComponent.vue";
import { roundNumber } from "../utils/roundNumber";
import { fetchQuoteCurrency } from "../services/api";

export default {
  name: "HomePage",
  components: {
    RangeComponent,
    PriceResultComponent,
  },
  data() {
    return {
      isUSD: false,
      priceToPay: 0,
      tip: 10,
      people: 2,
      fullPriceInBRL: 0,
      windowWidth: window.innerWidth,
      isClickedButton: false,
    };
  },
  created() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  updated() {
    this.getFullPriceInBRL(this.isUSD);
  },
  methods: {
    getTheTipPrice() {
      const valueTip = (this.priceToPay / 100) * this.tip;
      return roundNumber(valueTip);
    },
    getFullPrice() {
      const fullPrice = this.priceToPay + this.getTheTipPrice();
      return roundNumber(fullPrice);
    },
    getPricePerPeson() {
      const pricePerPerson = this.getFullPrice() / this.people;
      return roundNumber(pricePerPerson);
    },
    async getFullPriceInBRL(isUSD) {
      const currencyType = await this.getCurrencyType(isUSD);
      this.fullPriceInBRL = this.getFullPrice() * currencyType;
      return roundNumber(this.fullPriceInBRL);
    },
    async getCurrencyType(isUSD) {
      const { USDBRL, EURBRL } = await fetchQuoteCurrency();
      return isUSD ? USDBRL.bid : EURBRL.bid;
    },
    toggleIconButton() {
      const iconButton = document.getElementById("lt-icon-button");
      iconButton.classList.toggle("lt-button__icon--rotate");
    },
    toggleButton() {
      this.isClickedButton = !this.isClickedButton;
      this.toggleIconButton();
    },
    isMobile() {
      return this.windowWidth < 768 ? true : false;
    },
  },
};
</script>

<style lang="scss" scoped>
.lt-header {
  color: white;

  .lt-header__title {
    font-size: 52px;
  }

  .lt-header__subtitle {
    font-size: 22px;
  }
}

.lt-card {
  background: rgb(253 253 253 / 20%);
  min-height: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: white;
  flex-direction: column;
}

.lt-input {
  .lt-input__prefix {
    font-size: 24px;
  }
}

.lt-switch {
  .lt-switch__text {
    font-size: 22px;
    margin: 0 6px;
  }
  .lt-switch__input {
    width: 42px;
    height: 24px;
  }
}

.lt-button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 5px 5px 25px black;

  .lt-button__icon--rotate {
    transform: rotate(180deg);
  }
}
</style>
