<template>
  <div class="lt-result-values">
    <span class="lt-result-values__title">{{ title }}</span>
    <div>
      <span class="lt-result-values__prefix" v-if="isRealMoney">R$</span>
      <span class="lt-result-values__prefix" v-else-if="iconPrefix">$</span>
      <span class="lt-result-values__prefix" v-else>€</span>
      <span class="lt-result-values__result">{{ convertMoney(value) }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "PriceResultComponent",
  props: {
    title: String,
    value: Number,
    isRealMoney: Boolean,
    iconPrefix: Boolean,
  },
  methods: {
    convertMoney(value) {
      !value && (value = 0);
      return this.isRealMoney
        ? value.toLocaleString("pt-br", {
            currency: "BRL",
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
          })
        : value.toFixed(2);
    },
  },
};
</script>

<style lang="scss" scoped>
.lt-result-values {
  .lt-result-values__title {
    font-weight: bold;
  }

  .lt-result-values__prefix {
    margin-right: 8px;
  }

  .lt-result-values__result {
    font-size: 24px;
    font-weight: bolder;
  }
}
</style>
