<template>
  <div class="lt-range mb-4 w-75 mx-auto">
    <label :for="id" class="form-label">
      {{ labelText }}:
      <span class="lt-range__label-number">{{ currentValue }}</span>
      <span class="lt-range__label-number" v-if="isPercentage">%</span>
    </label>
    <div class="d-flex align-items-center">
      <span class="lt-range__numbers">{{ minNumber }}</span>
      <input
        type="range"
        class="form-range mx-2"
        :min="minNumber"
        :max="maxNumber"
        :value="initialValue"
        :id="id"
      />
      <span class="lt-range__numbers">{{ maxNumber }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "RangeComponent",
  props: {
    id: String,
    labelText: String,
    currentValue: Number,
    initialValue: Number,
    minNumber: Number,
    maxNumber: Number,
    isPercentage: Boolean,
  },
};
</script>

<style lang="scss" scoped>
.lt-range {
  .lt-range__numbers {
    font-size: 18px;
  }

  .lt-range__label-number {
    font-size: 22px;
    font-weight: bold;
  }
}
</style>
