<template>
  <HomePage />
</template>

<script>
import HomePage from "./views/HomePage.vue";

export default {
  name: "App",
  components: {
    HomePage,
  },
};
</script>

<style lang="scss">
#app {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.92)),
    url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
</style>
